@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(60, 7, 83));
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: aqua;
}